name: Test

on:
  push:
    branches: [master, develop]
  pull_request:

jobs:
  test:
    name: Test
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
      - run: npm install --no-audit --ignore-scripts
      - run: npm run build
      - run: npm run type-check
      - run: npm run lint
      - run: OPENAI_KEY=${{ secrets.OPENAI_KEY }} npm run test
